{{#blockSocials}}
    <div class="socials-holder">
        <ul>
            {{#each this}}
                <li>
                    <a href="{{ link }}" target="_blank">
                        <span class="line"></span>
                        <span class="text">{{ name }}</span>
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
{{/blockSocials}}
